// Theme colors
$primary-color: #3f5c64;
$primary-pink: #fe53bb;
$secondary-yellow: #f5d300;
$tertiary-blue: #00d4ff;
$green: #72ff00;
$black: #001519;
$white: #fff;
$dark-grey: #262525;

body {
  background-color: $black;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

// Utility classes
.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  /* Extra small devices (phones, 600px and down) */
  @media screen and (min-width: 600px) {
    max-width: 540px;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
