//Layout and Theme
body {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

// Utility classes
.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  /* Extra small devices (phones, 600px and down) */
  @media screen and (min-width: 600px) {
    max-width: 540px;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  &-md-6 {
    @media screen and (min-width: 768px) {
      flex: 0 0 50%;
    }
  }
}

//Display styles
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex {
  &-wrap {
    flex-wrap: wrap;
  }
  &-row {
    flex-direction: row;
  }
  &-column {
    flex-direction: column;
  }
}

//Margin - Padding
.mb {
  &-0 {
    margin-bottom: 0;
  }
  &-1 {
    margin-bottom: 1rem;
  }
}

.mr-3 {
  margin-right: 1.2rem;
}

.p-3 {
  padding: 3rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

@media screen and (min-width: 768px) {
  .px-md-3 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

//Make all images responsive
img {
  max-width: 100%;
}

.btn-primary {
  background-color: $primary;
  color: white;
  text-decoration: none;
  padding: 0.375rem 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:hover {
    background-color: darken($primary, 10%);
  }
}
