// Theme colors
$primary-color: #3f5c64;
$primary-pink: #fe53bb;
$secondary-yellow: #f5d300;
$tertiary-blue: #00d4ff;
$green: #72ff00;
$black: #001519;
$white: #fff;
$dark-grey: #262525;

.text-white {
  color: $white;
}
