// header
.main-header {
  display: flex;
  width: 100%;
  padding: 16px;

  .container {
    padding: 16px 0;

    h2 {
      margin-bottom: 0;
      font-size: 1.3rem;
    }
    .col-12 {
      align-items: center;
    }
    .col-12:nth-child(2) {
      justify-content: end;
    }
  }
}
