// Navigation
.col-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .mobile-nav-toggle {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul.main-nav {
      display: flex;
      gap: 0.5rem;
      padding: 12px;
      text-transform: uppercase;
      // background-color: $primary;
      background-color: rgba($primary, 0.8);
      backdrop-filter: blur(1rem);

      li {
        padding: 12px;
        &:hover {
          background-color: $black;
          color: whitesmoke;
        }

        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
          // margin-inline-end: 0.75rem;
        }
      }
    }
  }
}

//Mobile Nav Style
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .col-header {
    nav ul.main-nav {
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 30%;
      flex-direction: column;
      padding: min(30vh, 8rem) 2rem;
      background-color: rgba(0, 0, 0, 0.8);
    }
    .mobile-nav-toggle {
      display: block;
      position: absolute;
      z-index: 9999;
      background-color: transparent;
      font-size: 1.4rem;
      color: white;
      border: 0;
      width: 2rem;
      aspect-ratio: 1;
      top: 1.5rem;
      right: 1.5rem;
    }
  }
}
/* Medium devices (landscape tablets, 768px and up) */
/* @media screen and (min-width: 768px) {
} */
/* Large devices (laptops/desktops, 992px and up) */
/* @media screen and (min-width: 992px) {
} */
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media screen and (min-width: 1200px) {
} */
