// Navigation
.col-header {
  display: flex;
  justify-content: space-between;
  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul.main-nav {
      display: flex;
      // gap: 1rem;
      background-color: $primary;
      padding: 12px;

      li {
        padding: 12px;
        &:hover {
          background-color: $black;
          color: whitesmoke;
        }

        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}
